* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 1024px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.top {
    flex-basis: 1000px;
    height: 65px;
    border: 1px solid black;
    border-bottom: 0px;
}


.left {
    flex-basis: 215px;
    height: calc(768px - 65px - 20px);
    border: 1px solid black;
    border-right: 0px;
    display: flex;
    flex-direction: column;
    
}

.update{
    flex-basis: 25px;
    border: 1px solid brown;
    font-size: 16px;
    text-align: center;
    color: black;

}
.manu{
    flex-basis:calc(100% - 25px ) ;
    border: 1px solid blue;
    }

.manu > a {
    display: block;
    background-image: url(../img/menu1.png);
    width: 200px;
    height: 35px;
    margin: 10px auto;
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding-top: 10px;
    font-family: "標楷體";
} 

.manu > a:hover{
    background-image: url(../img/menu2.png);
}


.manu > .manuc{
    text-decoration: underline;
}

.manuh{
    font-weight: 500;
    font-size: 25px;
    color: #ff00ff;
    margin: 10px auto;
    /* text-decoration: underline; */
}
.right{
    flex-basis: calc(100% - 215px);
    border:1px solid black;
    
    display: flex;
    flex-direction: column;
}



.marquee{
    flex-basis: 29px;
    border: 1px solid red;
    font-size: 24px;
    color: blue;
    font-family:"標楷體";
}
.content{
    flex-basis:calc(100% - 29px);
    border: 1px solid red;
}
.content > iframe{
    width: 100%;
    height: 100%;
}
.footer{
    flex-basis: 1000px;
    height: 20px;
    border:1px solid black;
    border-top: 0px;
    text-align: center;
    font-size: 16px;
    font-family: '標楷體';
    
}